body{
    margin: 0px;
    padding: 0px;
    height: 120vh;
    box-sizing: border-box;
    background-color: #887cf3;
    font-family: sans-serif;
    font-weight: 900;
}
h1{
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

div.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 55%;
    height: 100vh;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.34);
}

.container > h2{
    font-size: 21px;
    text-align: center;
    padding-top: 20px;
}

div.entrada{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

div.entrada > label{
    padding: 5px;
    font-weight: normal;
    font-size: 1.2rem;
}

div.entrada >input::placeholder{
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}

div.entrada > input{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.636);
    padding: 8px;
    width: 60%;
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
}

div.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 59px;
    margin: 30px;
}

div.btn > button{
    border: 1px solid rgba(0, 0, 0, 0.438);
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.208);
    background-color: rgba(128, 128, 255, 0.826);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: bold;
}

div.btn > button:hover{
    background-color:rgba(111, 132, 250, 0.727);
    transform: scale(1.08);
    transition: 0.6s;
}

div.resultados{
    width: 50%;
    margin: auto;
    color: #ffffff;
    font-style: italic;
    padding: 10px;
    border-radius: 15px;
    background-color: #6d5df5ea;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.311);
}

@media screen and (max-width: 500px){
    div.resultados{
        border-radius: 5px;
        padding: 5px;
        width: 60%;
        font-size: 18px;
    }
    div.btn > button{
        width: 80%;
        padding: 7px;
        font-size: 1.5rem;
    }

    h1{
        font-size: 21px;
    }
    .container > h2{
        font-size: 18px;
    }

    div.entrada > label{
        font-size: 15px;
    }



}









